.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
file-types/**
scripts/**
**/.env
.env*
*.vsix
node_modules/**
package-lock.json
